@import 'variables';
@import 'reset';

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	background: map-get($color, 'baby-powder');
	min-width: 260px;
}

.container {
	width: min(100% - 15px, 1300px);
	margin-inline: auto;
	display: flex;
}

.main {
	position: relative;
	padding: 41px 95px 41px 71px;
	width: 100%;
}

@import 'components/logo';
@import 'components/btn-close';
@import 'components/error';
@import 'components/aside';
@import 'components/user';
@import 'components/title.scss';
@import 'components/section';
@import 'components/search';
@import 'components/table.scss';
@import 'components/pagination';
@import 'responsive';
