table.table
        thead
            tr
                th(scope="col") Customer Name
                th(scope="col") Company
                th(scope="col") Phone Number
                th(scope="col") Email
                th(scope="col") Country
                th(scope="col") Status
        tbody
            tr
                td Jane Cooper
                td Microsoft
                td (225) 555-0118
                td jane@microsoft.com
                td United States
                td 
                    button.table__status
                        span.status.active Active
            tr
                td Floyd Miles
                td Yahoo
                td (205) 555-0100
                td floyd@yahoo.com
                td Kiribati
                td
                    button.table__status
                        span.status.inactive Inactive
            tr
                td Ronald Richards
                td Adobe
                td (302) 555-0107
                td ronald@adobe.com
                td Israel
                td
                    button.table__status
                        span.status.inactive Inactive
            tr
                td Marvin McKinney
                td Tesla
                td (252) 555-0126
                td marvin@tesla.com
                td Iran
                td 
                    button.table__status
                        span.status.active Active
            tr
                td Jerome Bell
                td Google
                td (629) 555-0129
                td jerome@google.com
                td Réunion
                td 
                    button.table__status
                        span.status.active Active
            tr.table__row
                td Kathryn Murphy
                td Microsoft
                td (406) 555-0120
                td kathryn@microsoft.com
                td Curaçao
                td 
                    button.table__status
                        span.status.active Active
            tr
                td Jacob Jones  
                td Yahoo
                td (208) 555-0112
                td jacob@yahoo.com
                td Brazil
                td 
                    button.table__status
                        span.status.active Active
            tr
                td Kristin Watson
                td Facebook
                td (704) 555-0127
                td kristin@facebook.com
                td Åland Islands
                td
                    button.table__status
                        span.status.inactive Inactive