doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
        link(rel='stylesheet', href=cssPath)
        title Dashboard
    body 
        div.container
            include components/aside.pug
            main.main
                include components/title.pug
                include components/close.pug
                article.article
                    content
        script(src='/js/script.js')