section.section
    .section__head
        .section__wrap
            h2.section__title All customers
            p.section__desc Active members
        include ../components/search.pug
    include ../components/table.pug
    .section__footer
            p.section__footer--text Showing data 1 to 8 of  256K entries
            include ../components/pagination.pug
